<div class="piloto-bg">
<button class="btn-back" (click)="goBack()">
  🏠 Inicio
</button>

<div class="ordenamiento-box">
  <label for="ordenar">Ordenar por:</label>
  <select id="ordenar" class="form-select" (change)="ordenarPilotos($event)">
    <option value="nombre">Nombre (A-Z)</option>
    <option value="fecha">Fecha de nacimiento (más joven primero)</option>
    <option value="pais">País (A-Z)</option>
    <option value="rango">Rango (A-Z)</option>
  </select>
</div>



  @if (selected) {
    <app-piloto-detail [pilotoDetail]="selectedPiloto"></app-piloto-detail>
  }

  <div class="container-fluid py-4 piloto-container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
      @for (piloto of pilotos; track piloto.id) {
        <div class="col">
          <div class="piloto-card" (click)="onSelected(piloto)">
            <img
              class="piloto-img"
              [src]="'assets/img/pilotos/' + piloto.fotografias"
              alt="{{ piloto.nombre }}"
            />
            <div class="piloto-info">
              <h5>{{ piloto.nombre }}</h5>
              <p>{{ piloto.fechaNacimiento }}</p>
              <span>{{ piloto.rango }} - {{ piloto.pais }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>

</div>


