<div class="container-fluid py-4">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
    <div class="col" *ngFor="let piloto of pilotos">
      <div class="card h-100 shadow-sm">
        <img
          class="card-img-top"
          [src]="'assets/img/pilotos/' + piloto.fotografias"
          alt="{{ piloto.nombre }}"
        />
        <div class="card-body text-center">
          <h5 class="card-title mb-1">{{ piloto.nombre }}</h5>
          <p class="card-text text-muted small">
            {{ piloto.fechaNacimiento }}
          </p>
          <p class="card-text small mb-0 text-secondary">
            {{ piloto.rango }} - {{ piloto.pais }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>




